<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
     <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <!-- common.js -->
    <script type="text/javascript" src="/js/common.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="/css/common/AccountLoginPage.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="GreyPanel"></div>
<div class="ClassManage">课堂管理系统</div>
<div class="LoginWayOne"> <a href="#">账号密码登录</a></div>
<div class="LoginWayTwo"> <a href="/wechat_login">微信登录</a></div>

<form action="">
<div class="UserName"> 用户名</div>
    <input type="text" class="UserNameField" id="username" />
    <div class="Password"> 密码</div>
    <input type="password" class="PasswordField" id="password" />
    <input class="Login" id="submit" type="button" value="登陆" />
    用户名或密码错误！
</form>

<div class="Enroll"><a onclick="window.location.href='/register'">注册</a></div>
</body>
</html>