<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
    <link href="/css/common/RegisterPage.css" rel="stylesheet" type="text/css"/>
	<script src ="/js/jquery-1.10.2.js"></script>
    <script src ="/js/common.js"></script>
    <script src ="/js/jwt.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
</head>

<body onload="registerload()">
<div class="titleBackground"></div>
<div class="title">课程管理系统</div>
<div class="icon">
	<img src="/img/home.png"><a href="/login">首页</a>
	<img src="/img/help.png"><a>帮助</a>
	<img src="/img/exit.png"><a href="/login">退出</a>
</div>
<form class="cmxform" id="signupForm" onsubmit="register()">
<div class="phoneNum">手机号:<input type="text" name="phoneNum"/></div>
<div class="password">密码:<input type="text" name="password"/></div>
<div class="name">姓名:<input type="text" name="name"/></div>
<div class="province">省:<select class="provinceSelect" id="pro" onclick="find_city();"></select></div>
<div class="city">市:<select class="citySelect" id="city" onclick="find_school();"></select></div>
<div class="school">学校:<select class="schoolSelect" id="school"></select><div class="createSchool" onclick="window.location.href='/teacher/school/create'">创建学校</div></div>
<div class="gender">性别:</div>
<div class="male">男<input type="radio" value="男" name="gender" checked="checked"/></div>
<div class="female">女<input type="radio" value="女" name="gender"/></div>
<div class="role">角色:</div>
<div class="student">
	学生<input type="radio" value="学生" name="role" checked="checked" onclick="form1.style.display='';form2.style.display='none';" />
</div>
<div class="teacher">
	教师<input type="radio" value="教师" name="role" onclick="form1.style.display='none';form2.style.display='';"/>
</div>
<div class="stuffNum" id="form1">学号:<input type="text" name="stuffNum"/></div>
<div class="stuffNum" id="form2" style="display:none">教工号:<input type="text" name="stuffNum"/></div>
<div class="eMail">邮箱:<input type="text" name="eMail"/></div>
<div class="submit">提交</div>
	</form>
</body>

</html>