<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
<link href="../../css/common/RegisterPage.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="titleBackground"></div>
<div class="title">课程管理系统</div>
<div class="icon">
<img src="../../Img/home.png">首页
<img src="../../Img/help.png">帮助
<img src="../../Img/exit.png">退出
</div>
<form action="" method="POST" onsubmit="return register();">
<div class="phoneNum">手机号:<input type="text" id="phoneNum"/></div>
<div class="password">密码:<input type="text" id="password"/></div>
<div class="name">姓名:<input type="text" id="name"/></div>
<div class="province">省:<select class="provinceSelect" id="provinceselect"></select></div>
<div class="city">市:<select class="citySelect" id="cityselect"></select></div>
<div class="school">学校:<select class="schoolSelect" id="schoolselect"></select><div class="createSchool">创建学校</div></div>
<div class="gender">性别:</div>
<div class="male">男<input type="radio" value="男" id ="male" checked="checked"/></div>
<div class="female">女<input type="radio" value="女" id="female"/></div>
<div class="role">角色:</div>
<div class="student">学生<input type="radio" value="学生" id="student" checked="checked"/></div>
<div class="teacher">教师<input type="radio" value="教师" id="teacher"/></div>
<div class="stuffNum">教工号:<input type="text" id="stuffNum"/></div>
<div class="eMail">邮箱:<input type="text" id="eMail"/></div>
<div class="submit" type = "submit">提交</div>
	<!-- jquery.js-->
	<script src ="../../js/jquery-1.10.2.js"></script>
	<!-- common.js -->
    <script src ="../../js/common.js"></script>
</body>

</html>