<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生基本信息改</title>
   <link href="/css/common/InfoModifyPage.css" rel="stylesheet" type="text/css"/>
    
</head>
<body onload="return stumodinfo();">
    	<div class="top">
        	<div class="font">
        		课堂管理系统
        	</div>
        	<div class="icon">
                <img src="/img/home.png"><a href="/student/profile">首页</a>
                <img src="/img/help.png"><a>帮助</a>
                <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
        	</div>
        	<div class="clear"></div>
    	</div>
        <div class="body">
           <div class="navigation">
                <div class="title">导航</div>
                <div class="line"></div>
               <div class="courseIntroduction"><a class="guidefont" href="/student/profile">基本信息</a>
                   <a class="guidefont" href="/student/courses">课程信息</a>
                   <a class="guidefont" href="/student/course/select">选择课程</a>
               </div>
            </div>
            <div class="content">
              <div class="title">基本信息</div>
              <hr class="line"/>
                <div class="imgarea"><img class="img" src="/img/link.jpg"/></div>
                 <div class="info">
                
        <!--<form action="" method="put" onsubmit="return stuinfomod();">-->
        <table class="table">
        <tr class="itemName">
        <td id="username">用户名：<span>12345678978</span></td>
         <td id="stuffNum">学号：<span></span></td>
        </tr>
        <tr class="itemName">
        <td>姓名：<input type="text" name="name" id="name"/></td>
        <td>性别：<input type="text" name="gender" id="gender"/></td>
        </tr>
        <tr class="itemName">
        <td>学校：<input type="text" name="school" id="school"/></td>
        <td>学历：<input type="text" name="title" id="title"/></td>
        </tr>
        <tr class="itemName">
        <td>E-mail：<input type="text" name="email" id="email"/></td>
        <td id="phone">联系方式：<span></span></td>
        </tr>
         </table>
         <br/>
        <br/>
        <br/>
        <br/>
       <div>
           <button class="button" type="submit" onclick="return stuinfomod();">提交</button>
        </div>
        <!--</form>-->
        </div>
            </div>
            <div class="clear"></div>
        </div>
    <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <!-- student.js -->
    <script src ="/js/student.js"></script>
        <!--jwt.js-->
        <script src="/js/jwt.js"></script>
</body>
</html>