<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生基本信息</title>
    <link href="/css/common/HomePage.css" rel="stylesheet" type="text/css"/>
    
</head>
<body onload="return stuinfo();">
    	<div class="top">
        	<div class="font">
        		课堂管理系统
        	</div>
        	<div class="icon">
                <img src="/img/home.png"><a href="/student/profile">首页</a>
                <img src="/img/help.png"><a>帮助</a>
                <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
        	</div>
        	<div class="clear"></div>
    	</div>
        <div class="body">
            <div class="navigation">
                <div class="title">导航</div>
                <div class="line"></div>
                <div class="courseIntroduction"><a class="guidefont" href="/student/profile">基本信息</a>
                  <a class="guidefont" href="/student/courses">课程信息</a>
                  <a class="guidefont" href="/student/course/select">选择课程</a>
                </div>
            </div>
            <div class="content">
            
               <div class="title">基本信息</div>
               <div class="line"></div>
                <div class="imgarea"><img class="img" src="/img/link.jpg"/></div>
                 <div class="info">
        <table class="table" >
        <tr class="itemName">
        <td id="username">用户名：<span></span></td>
        <td id="stuffNum">学号：<span></span></td>
        </tr>
        <tr class="itemName">
        <td id="name">姓名：<span></span></td>
        <td id="gender">性别：<span></span></td>
        </tr>
        <tr class="itemName">
        <td id="school">学校：<span></span></td>
        <td id="title">学历：<span></span></td>
        </tr>
        <tr class="itemName">
        <td id="email">E-mail：<span></span></td>
        <td id="phone">联系方式：<span></span></td>
        </tr>
        </table>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="button">
        <button onclick="window.location.href='/student/update'">修改</button>
        </div>
        </div>
            </div>
            <div class="clear"></div>
        </div>
    <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <!-- student.js -->
    <script src ="/js/student.js"></script>
    <!--jwt.js-->
    <script src="/js/jwt.js"></script>
</body>
</html>