<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
 <link href="/css/student/StudentBindPage.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="titleBackground"></div>
<div class="title">课程管理系统</div>
<div class="icon">
    <img src="/img/home.png"><a href="/student/profile">首页</a>
    <img src="/img/help.png"><a>帮助</a>
    <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
</div>
<!--<form action="" method="PUT" onsubmit="return stubind();">-->
<div class="phoneNum">手机号:<input type="text" id="phoneNum"/></div>
<div class="password">密码:<input type="text" id="password"/></div>
<div class="name">姓名:<input type="text" id="name"/></div>
<div class="school">学校:<input type="text" id="school"/></div>
<div class="gender">性别:</div>
<div class="male">男<input name="gender" type="radio" value="male" id="male" checked="checked"/></div>
<div class="female">女<input name="gender" type="radio" value="female" id="female"/></div>
<div class="studentNum">学号:<input type="text" id="stuffNum"/></div>
<div class="eMail">邮箱:<input type="text" id="eMail"/></div>
<div class="submit" type="submit" onclick="return stubind();">提交</div>
    <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <!-- student.js -->
    <script src ="/js/student.js"></script>
    <script src ="/js/jwt.js"></script>
<!--</form>-->

</body>

</html>