<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生查看讨论课（固定）</title>
    <link href="/css/student/content.css" rel="stylesheet" type="text/css"/>
</head>
<body onload="return seminarinfoF();">
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <img src="/Img/home.png">首页
              <img src="/Img/help.png">帮助
              <img src="/Img/exit.png">退出
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="coursename">OOAD</div>
                <div class="line"></div>
                <div class="courseIntroduction" id="description"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div id="name" class="title">讨论课1</div>
                    <div class="returnButton" onclick="window.location.href='/student/course/'+getCookie('coursecurrent')">返回上一页</div>
                    <div class="line"></div>
                    <div class="itemBody">
                        <div class="item">
                          <label id="descriptionS" class="itemName"></label>
						  <div class="line"></div>
                        </div>
                        <div class="item">
                          <label class="itemName">分组方式：</label>
						  <label class="itemName" id="groupingmethod"></label><br/>
                          <label class="itemName">开始时间：</label>
						  <label class="itemName" id="starttime"></label><br/>
						  <label class="itemName">结束时间：</label>
						  <label class="itemName" id="endtime"></label>
                        </div>
                    </div>
                </div>
				<div class="block">
                    <div class="title">话题</div>
                    <div class="line"></div>
					<div class="blockBody" id="topics">
                        <div class="smallblock"><div class="blockFont">话题A</div></div>
					</div>
                    <div class="item">
                        <button class="uploadbutton">上传报告</button>
				    </div>
					<div class="item">
                        <button class="viewscorebutton" onclick="window.location.href='/student/course/'+getCookie('coursecurrent')+'/seminar/'+getCookie('seminarCurrent')+'/grade'">查看分数</button>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <!-- student-innercourse.js -->
    <script src ="/js/student-innercourse.js"></script>
</body>
</html>