<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生查看讨论课（固定）</title>
    <link href="/css/student/content.css" rel="stylesheet" type="text/css"/>
</head>
<body onload="return seminarinfoF();">
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <img src="/img/home.png"><a href="/student/profile">首页</a>
              <img src="/img/help.png"><a>帮助</a>
              <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="coursename">OOAD</div>
                <div class="line"></div>
                <div class="courseIntroduction" id="description"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div id="name" class="title">讨论课1</div>
                    <div class="returnButton" onclick="window.location.href='/student/course/'+getCookie('coursecurrent')">返回上一页</div>
                    <div class="line"></div>
                    <div class="itemBody">
                        <div class="item">
                          <label id="descriptionS" class="itemName"></label>
						  <div class="line"></div>
                        </div>
                        <div class="item">
                          <label class="itemName">分组方式：</label>
						  <label class="itemName" id="groupingmethod"></label><br/>
                          <label class="itemName">开始时间：</label>
						  <label class="itemName" id="starttime"></label><br/>
						  <label class="itemName">结束时间：</label>
						  <label class="itemName" id="endtime"></label>
                        </div>
                    </div>
                </div>
				<div class="block">
                    <div class="title">话题</div>
                    <div class="line"></div>
					<div class="blockBody" id="topics">
                        <div class="smallblock"><div class="blockFont">话题A</div></div>
					</div>
                    <div class="item">
                        <button class="uploadbutton" onclick="return showDiv();">上传报告</button>
				    </div>
					<div class="item">
                        <button class="viewscorebutton" onclick="window.location.href='/student/course/'+getCookie('coursecurrent')+'/seminar/'+getCookie('seminarCurrent')+'/grade'">查看分数</button>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>


        <div id="Idiv" class="smallblock" style="width:30%;height:30%;display:none; position:absolute; z-index:1000;background-color: rgb(11, 172, 225);text-align: center;">
            <div class="itemName" id="mou_head" style="width:100%; height:20%;z-index:1001;border-radius: 24px;padding-top:5%;position:absolute;background-color:rgb(100,172,225);text-align: center;color:white;">上传</div>
            <div class="itemName" style="width:20%; height:20%;z-index:1001;border-radius: 24px;padding-top:5%;position:absolute;background-color:rgb(200,100,100);text-align: center;color:white" onclick="closeDiv();">X</div>
            <div style="width:100%; height:20%;z-index:1001;margin-top:20%;border-radius: 24px;background-color:rgb(100,172,225);text-align: center;border-width: 0px;"><input type="file" value="浏览" /></div>
        </div>

    <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <!-- student-innercourse.js -->
    <script src ="/js/student-innercourse.js"></script>
        <!--jwt.js-->
        <script src="/js/jwt.js"></script>

        <script>
            function showDiv() {
            var Idiv     = document.getElementById("Idiv");
            var mou_head = document.getElementById('mou_head');
            Idiv.style.display = "block";
            Idiv.style.left=(document.documentElement.clientWidth-Idiv.clientWidth)/2+document.documentElement.scrollLeft+"px";
            Idiv.style.top =(document.documentElement.clientHeight-Idiv.clientHeight)/2+document.documentElement.scrollTop-50+"px";
            var procbg = document.createElement("div");
            procbg.setAttribute("id","mybg");
            procbg.style.background = "#000000";
            procbg.style.width = "100%";
            procbg.style.height = "100%";
            procbg.style.position = "fixed";
            procbg.style.top = "0";
            procbg.style.left = "0";
            procbg.style.zIndex = "500";
            procbg.style.opacity = "0.6";
            procbg.style.filter = "Alpha(opacity=70)";
            document.body.appendChild(procbg);
            document.body.style.overflow = "hidden";
            var posX;
            var posY;
            mou_head.onmousedown=function(e) {
                if(!e) e = window.event; //IE
                posX = e.clientX - parseInt(Idiv.style.left);
                posY = e.clientY - parseInt(Idiv.style.top);
                document.onmousemove = mousemove;
            }
            document.onmouseup = function() {
                document.onmousemove = null;
            }
            function mousemove(ev) {
                if(ev==null) ev = window.event;//IE
                Idiv.style.left = (ev.clientX - posX) + "px";
                Idiv.style.top = (ev.clientY - posY) + "px";
            }
        }

        function closeDiv() {
            var Idiv=document.getElementById("Idiv");
            Idiv.style.display="none";
            document.body.style.overflow = "auto";
            var body = document.getElementsByTagName("body");
            var mybg = document.getElementById("mybg");
            body[0].removeChild(mybg);
        }
        </script>
</body>
</html>