<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>查看话题（随机分组）</title>
    <link href="/css/student/content.css" rel="stylesheet" type="text/css"/>
</head>
<body onload="return topicinfoR();">
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <img src="/img/home.png"><a href="/student/profile">首页</a>
              <img src="/img/help.png"><a>帮助</a>
              <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="coursename"></div>
                <div class="line"></div>
                <div class="courseIntroduction" id="description"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title" id="serial"></div>
                    <div class="returnButton" onclick="window.location.href='/student/course/'+getCookie('coursecurrent')+'/seminar/'+getCookie('seminarCurrent')+'?type='+getCookie('groupingmethodCurrent')">返回上一页</div>
                    <div class="line"></div>
                    <div class="itemBody">
                        <div class="item">
                          <label class="itemName">题目:</label>
                          <label class="itemName" id="topic"></label>
                        </div>
                        <div class="item">
                          <label class="itemName">说明:</label>
                          <label class="itemName" id="descriptionT"></label>
                        </div>
                        <div class="item">
                          <label class="itemName">组数限制:</label>
                          <label class="itemName" id="grouplimit"></label>
                        </div>
                        <div class="item">
                          <label class="itemName">组内人数上限:</label>
                          <label class="itemName" id="groupmemberlimit"></label>
                        </div>
					         </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <!-- student-innercourse.js -->
    <script src ="/js/student-innercourse.js"></script>
        <!--jwt.js-->
        <script src="/js/jwt.js"></script>
</body>
</html>