<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生上传固定分组</title>
    <link href="../../css/student/content.css" rel="stylesheet" type="text/css"/>
</head>
<body onload="return groupmodinfo();">
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
            <img src="../../Img/home.png">首页
            <img src="../../Img/help.png">帮助
            <img src="../../Img/exit.png">退出
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName">OOAD</div>
                <div class="line"></div>
                <div class="courseIntroduction">OOAD（Object Oriented Analysis Design，面向对象的分析和设计，面向对象分析与设计）是现代软件企业广为采用的一项有效技术。OOAD方法要求在设计中要映射现实世界中指定问题域中的对象和实体，例如：顾客、汽车和销售人员等。这就需要设计要尽可能地接近现实世界，即以最自然的方式表述实体。所以面向对象技术的优点即为能够构建与现实世界相对应的问题模型，并保持他们的结构、关系和行为为模式。</div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title">固定分组</div>
                    <div class="returnButton" onclick="window.location.href='StudentViewGroupPage.html'">返回上一页</div>
                    <div class="line"></div>
                    <div class="itemBody">
                        <div class="item">
                          <table id="studenttable1">
                            <tr>
                              <th>角色</th>
                              <th>学号</th>
                              <th>姓名</th>
							  <th>操作</th>
                            </tr>

                            <tr>
                              <td>队长</td>
							  <td>24320152200001</td>
                              <td>Steven Jobs</td>
							  <td></td>
                            </tr>

                            <tr class="alt">
                              <td>队员</td>
                              <td>24320152209999</td>
                              <td>Li YanHong</td>
							  <td><img src=".\home.png"></td>
                            </tr>

                            <tr>
                              <td>队员</td>
                              <td>24320152208889</td>
                              <td>Larry Page</td>
							  <td><img src=".\home.png"></td>
                            </tr>

                         </table>
                        </div>
						</div>
					<div class="block">
					    <div class="title">添加队员</div>
						<div class="line"></div>
						<div class="itemBody">
						  <div class="item">
              <label class="itemName">学号：</label>
							<input type="text" id="num">
							<label class="itemName">姓名：</label>
							<input type="text" id="name">
							 <div class="returnButton" onclick="groupinfosearch()">查询</div>
                          </div>
						  <div class="item">
                             <table id="studenttable2">
						                    <tr>
                              <th>学号</th>
                              <th>姓名</th>
							               <th>操作</th>
                            </tr>

                            <tr>
                              <td>2432015220xxxx</td>
							                 <td>李四</td>
							                 <td><img src=".\home.png"></td>
                            </tr>

                            <tr class="alt">
                              <td>2432015220xxxx</td>
                              <td>李五</td>
							  <td><img src=".\home.png"></td>
                            </tr>
							
							<tr>
                              <td>2432015220xxxx</td>
							  <td>李六</td>
							  <td><img src=".\home.png"></td>
                            </tr>
                          </table>
                          </div>
						</div>
            <div class="returnButton" id="confirm" name="" onclick="window.location.href='StudentViewGroupPage.html'">确定</div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    <!-- jquery.js-->
    <script src ="../../js/jquery-1.10.2.js"></script>
    <!-- student-innercourse.js -->
    <script src ="../../js/student-innercourse.js"></script>
</body>
</html>