@charset "utf-8";
/* CSS Document */

 html
        {
         height:100%;
         margin:0;
        }
        body
        {
            height:100%;
            margin:0; 
        }
      .top{
        width: 100%;
        height: 16%;
        background-color: rgba(65,199,219,0.7);
        text-align: center;
        margin: 0 auto;
      }

      /**
      *这个是指下面的导航和显示信息的块的样式，从整体上来讲，下面是一个大块
      */

      .body{
        width: 100%;
        height: 84%;
        background-color: white;
      }
      .navigation{
        width: 20%;
        height: 100%;
        background-color: rgba(204,204,204,0.6);
        float: left;
      }
      .content{
        width: 80%;
        height: 100%;
        background-color: white;
        float: right;
      }
      .clear{
        clear: both;
      }
      .font{
      	width: 20%;
        font-family: YouYuan;
        font-size: 40px;
        font-weight: bold;
        margin-left: 35%;
        text-align: center;
        padding: 2%;
        float: left;
        color: #FFFFFF;
      }
      .courseName{
        width: 60%;
        font-family: consolas;
        font-size: 40px;
        color: #0BACE1;
        margin-left: 5%;
        margin-top: 5%;
      }
      .courseIntroduction{
        width: 90%;
        height: 80%;
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        font-family: YouYuan;
        font-size: 18px;
      }
     .line{
        width: 96%;
        margin: 0 auto;
        border: 1.5px solid #41C7DB;
      }
 .title{
        width: 20%;
        font-family: YouYuan;
        font-size: 20px;
        font-weight: bold;
        padding: 1px;
        margin-left: 2%;
        margin-top: 1.2%;
        color: #0BACE1;
      }
      .icon{
      	width:20%;
      	font-family: YouYuan;
      	font-size: 20px;
      	text-align: center;
      	color: white;
      	padding-top: 4%;
      	float: right;
      }
  .guidefont{
    		width: 100%;
    		height: 7%;
    		display: block;
    		padding-left: 10%;
    		font-family: Arial;
    		font-size: 18px;
    		color: #282828;
    		/*font-style: normal;*/
    		text-decoration: none;
			/*background-color: #00EEF2;*/


    	}
.newcourse{
		 
		color: #0BACE1;
	margin-left: 10px;}
	.line{
		
		color: #2FB5E1;
	border: 1px solid #2FB5E1;
	margin-left: 10px;
	margin-right: 10px;}
.main_box_right_content{
	background-color: rgba(11, 172, 225, 0.2);
	border-radius: 15px;
	margin-left: 10px;
	margin-right: 10px;
	height: 30%;
		margin-top:5px;

}
.classtitle{
	color: black;
	text-align: center;
	padding: 5px;
	margin:0px;
}
.main_box_right_content button{
	background-color:rgba(130,167,253,1.00);
	padding: 3px 3px;
	font-size: 10px;
	float: right;
	border:none ;
	border-radius: 10px;
	margin-right: 10px;
}
.main_box_right_content hr{
	color: white;
	border: 1px solid white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top:0px;
}
.classinfo{
	
	margin-left:10px;}
	.checkcourse{
		
		margin-left:10px;}
		.itemName{
    		font-family: YouYuan;
    		font-size: 18px;
    	}