<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
 <link href="/css/student/StudentBindPage.css" rel="stylesheet" type="text/css"/>
 	<script src ="/js/jquery-1.10.2.js"></script>
	<script src ="/js/TeacherCourse.js"></script>
    <script src ="/js/TeacherCreateSchool.js"></script>
	 <script src ="/js/jwt.js"></script>
</head>

<body>
<div class="titleBackground"></div>
<div class="title">课程管理系统</div>
<div class="icon">
		<img src="/img/home.png"><a href="/teacher/home">首页</a>
	<img src="/img/help.png"><a>帮助</a>
	 <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
</div>

<div class="phoneNum">手机号:<input type="text" id="phoneNum" /></div>
<div class="password">密码:<input type="text" id ="password"/></div>
<div class="name">姓名:<input type="text" id="name"/></div>
<div class="school">学校:<input type="text" id="school"/></div>
<div class="gender">性别:</div>s
<div class="male">男<input type="radio" value="male" name="gender" id="male" checked="checked"/></div>
<div class="female">女<input type="radio" value="female"  name="gender" id="female"/></div>
<div class="studentNum">教工号:<input type="text" id="teaNum"/></div>
<div class="eMail">邮箱:<input type="text" id="eMail"/></div>
<div class="submit" type="submit" onclick="return teabind()">提交</div>
</form>
</body>

</html>
