<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>班级修改</title>
    <!-- <link rel="stylesheet" href="./bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/teacher/content.css">
</head>
<body onload="getclassdetail();return courseintroduce();">
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <img src="/img/home.png"><a href="/teacher/home">首页</a>
             <img src="/img/help.png"><a>帮助</a>
             <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="courseName"></div>
                <div class="line"></div>
                <div class="courseIntroduction" id="courseIntroduction"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title">班级修改</div>
                    <div class="returnButton" onclick="return backtoclass();">返回上一页</div>
                    <div class="line"></div>
                    <div class="itemBody">
                        <div class="item">
                          <label class="itemName">班级名称:</label>
                          <input type="text" name="className" class="bigInput" id="className">
                        </div>
                        <div class="item" >
                          <label class="itemName">上课地点:</label>
                          <!-- <textarea class="textStyle"></textarea> -->
                          <input type="text" name="site" class="bigInput" id="site">
                        </div>
                        <div class="item">
                          <label class="itemName">上课时间: </label>
                          <!-- <select class="bigSelect"></select> -->
                          <!-- <input type="text" name="time" class="bigInput" id="time"> -->
                          <select class="smallSelect1" id="week">
                              <option value ="星期一">星期一</option>
                              <option value ="星期二">星期二</option>
                              <option value ="星期三">星期三</option>
                              <option value ="星期四">星期四</option>
                              <option value ="星期五">星期五</option>
                              <option value ="星期六">星期六</option>
                              <option value ="星期日">星期日</option>
                          </select>
                          <select class="smallSelect2"  id="day">
                              <option value ="上午">上午</option>
                              <option value ="下午">下午</option>
                              <option value ="晚上">晚上</option>
                          </select>
                          <select class="smallSelect3" id="jie">
                              <option value ="一二节">一二节</option>
                              <option value ="三四节">三四节</option>
                              <option value ="五六节">五六节</option>
                              <option value ="七八节">七八节</option>
                              <option value ="九十节">九十节</option>
                          </select>
                        </div>
                   <!--       <div class="item">
                          <label class="itemName">评分规则:</label>
                          <label class="itemName" >讨论课分数占比</label>
                          <label class="itemName" id="presentation"></label>
                          <label class="itemName"> 报告分数占比</label>
                          <label class="itemName" id="report"></label>
                        </div> -->
                  <!--       <div class="item">
                          <label class="itemName">评分规则:</label>
                          <label class="itemName">开始时间: </label>
                          <input type="date" name="startTime" class="timeStyle">
                          <label class="itemName" style="margin-left: 15%">结束时间: </label>
                          <input type="date" name="startTime" class="timeStyle">
                        </div> -->
                        <div class="item" style="margin-left: 18%">
                          <label class="itemName">评分规则:</label>
                          <label class="itemName">讨论课分数占比</label>
                          <input type="text" name="presentation" class="smallInput"  id="report">
                          <label class="itemName">报告分数占比</label>
                          <input type="text" name="report" class="smallInput" id="presentation">
                        </div>
                        <div class="item" style="margin-left: 18%">
                          <label class="itemName">5分占比</label>
                          <input type="text" name="five" class="smallInput" id="five">
                          <label class="itemName">4分占比</label>
                          <input type="text" name="four" class="smallInput" id="four">
                          <label class="itemName">3分占比</label>
                          <input type="text" name="three" class="smallInput" id="three">
                        </div>
                         <div class="item">
                          <label class="itemName">学生人数:</label>
                          <input type="text" name="numStudent" class="smallInput" id="numStudent">
                        </div>
                        <div class="item">
                          <label class="itemName">导入学生名单:</label>
                          <button class="selectFile">下载文件</button>
                        </div>
                        <div class="item">
                          <button class="submit" onclick="return classinfomod();">提 交</button>
                          <button class="reset" onclick="window.location.reload();">重 置</button>
                          <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
    <script src ="/js/jquery-1.10.2.js"></script>
    <script src ="/js/teacher_page.js"></script>
     <script src ="/js/jwt.js"></script>
</body>
</html>