<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>新建课程</title>
    <link href="../../css/teacher/TeacherCreateCoursePage.css"rel="stylesheet" type="text/css"/>
    
</head>
<body>
    	<div class="top">
        	<div class="font">
        		课堂管理系统
        	</div>
        	<div class="icon">
        		<img src="../../Img/home.png">首页
        		<img src="../../Img/help.png">帮助
        		<img src="../../Img/exit.png">退出
        	</div>
        	<div class="clear"></div>
    	</div>
        <div class="body">
         <div class="navigation">
                <div class="title">导航</div>
                <div class="line"></div>
                <div class="courseIntroduction"><a class="guidefont" href="TeacherHomePage.html">基本信息</a>
                  <a class="guidefont" href="courses.html">课程信息</a>
                  <a class="guidefont" href="course_create.html">新建课程</a>
                </div>
            </div>
            <div class="content">
           
		  <div class="title">新建课程</div>
		  <hr class="line"/>
	     
        <br/>
       <form class="form" action="" method="PUT" onsubmit="return createcourse();">
          <div class="itemName" >
           课程名称*：<input type="text" name="coursename"/>
         <br/>
         <br/>
          开始时间*：<input type="date" name="begintime"/>  结束时间*：<input type="date" name="endtime"/>
          <br/>
          <br/>
          课程介绍：<br/>
          <textarea name="courseinfo" cols="80" rows="5"></textarea><br/>
          评分规则*： <br/>
         
         <div class="scorerule">
            <p> 讨论课分数占比:<input type="text" name="seminarscore">报告分数占比：<input type="text" name="reportscore"></p>
            <p>五分占比:<input type="text" name="five">四分占比：<input type="text" name="four">三分占比：<input type="text" name="three"></p>
         </div>
        
        <br/>
        <div class="buttons">
          
          <input class="button" type="submit" name="submit"/><input class="button" type="reset" name="reset"/>
          
        </div>
             </form>  
          </div>
      </div>
          </div>
        
           
            <div class="clear"></div>
   
    <!-- jquery.js-->
    <script src ="../../js/jquery-1.10.2.js"></script>
    <!-- student.js -->
    <script src ="../../js/TeacherCourse.js""></script>

</body>
</html>
