<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>教师主页</title>
    <link href="/css/teacher/TeacherCourseHomePage.css" rel="stylesheet" type="text/css"/>
    <script src ="/js/jquery-1.10.2.js"></script>
    <script src ="/js/teacher_page.js"></script>
     <script src ="/js/jwt.js"></script>
</head>
<body onload="return courselist();">
    	<div class="top">
        	<div class="font">
        		课堂管理系统
        	</div>
        	<div class="icon">
        		  <img src="/img/home.png"><a href="/teacher/home">首页</a>
        		<img src="/img/help.png"><a>帮助</a>
        	 <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
        	</div>
        	<div class="clear"></div>
    	</div>
        <div class="body">
            <div class="navigation">
                <div class="title">导航</div>
                <div class="line"></div>
                <div class="courseIntroduction">
                  <a class="guidefont" href="#" onclick="window.location.href='/teacher/home'">基本信息</a>
                  <a class="guidefont" href="#"  onclick="window.location.href='/teacher/courses'">课程信息</a>
                  <a class="guidefont" href="#" onclick="window.location.href='/teacher/courses/create'">新建课程</a>
                </div>
            </div>
            <div class="content" id="coursecontent">
            <!--   <div class="title">课程信息</div>
                  <hr class="line"/>
                  <div class="main_box_right_content">
          			     	<h3 class="classtitle" id="name">
                        <span id="course" >J2EE</span>
            				  	<button type="submit" onclick="deletecourse(this.id)">删除课程</button>
            					  <button >修改课程</button>
          				    </h3>
      			          <div class="divideline"></div>
      			       	  <div  class="classinfo" onclick="window.location.href='/teacher/course/{courseId}'">
                          <table class="table">
                              <tr>
                                <td class="tabletext">班级数：<span id="numClass">1</span></td>  <td class="tabletext" id="numStudent">学生人数：60</td>
                              </tr>
                               <tr>
                                 <td class="tabletext" id="startTime">开始时间：XXXX</td>  <td class="tabletext" id="endTime">结束时间:XXXX</td>
                              </tr>
                          </table>
      				         </div>
                  </div>
                  <div class="main_box_right_content"  onclick="window.location.href='/teacher/courses/create'">
                       <img class="addcourse" src="/img/add.png"  >
                  </div> -->
            </div>
            <div class="clear"></div>
        </div>
</body>
</html>