<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset=UTF-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
<link href="/css/teacher/TeacherCreateSchool.css" rel="stylesheet" type="text/css"/>
<script src ="/js/jquery-1.10.2.js"></script>
<!-- <script src ="/js/teacher_page.js"></script> -->
<script src ="/js/jwt.js"></script>
<script src="/js/TeacherCreateSchool.js" type="text/javascript"></script>
</head>

<body onload="schoolload();">
<div class="titleBackground"></div>
<div class="title">课程管理系统</div>
<div class="icon">
  			 	<img src="/img/home.png"><a href="/login">首页</a>
             <img src="/img/help.png"><a>帮助</a>
              <img src="/img/exit.png"><a href="/login">退出</a>
</div>
<div class="province">所在省份:<select class="provinceSelect" id="pro" onclick="find_city();"></select></div>
<div class="city">所在城市:<select class="citySelect" id="city"></select></div>
<div class="school">学校名称:<input type="text" name="school" id="schoolname"/></div>
<div class="submit" onclick="createSchoolsend()">提交</div>
</body>

</html>