<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>老师查看讨论课</title>
    <link href="/css/teacher/content.css" rel="stylesheet" type="text/css"/>
</head>
<body onload="seminarinfo(); courseintroduce();return gettopiclist();">
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <img src="/img/home.png"><a href="/teacher/home">首页</a>
             <img src="/img/help.png"><a>帮助</a>
             <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="courseName"></div>
                <div class="line"></div>
                <div class="courseIntroduction" id="courseIntroduction"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title" id="seminartitle"></div>
                    <div class="returnButton" onclick="return backtocourse();">返回上一页</div>
                    <div class="line"></div>
                    <div class="itemBody">
						<div class="item">
                          <label class="itemName">讨论课名称：</label>
						               <label class="itemName" id="seminarname"></label><br/>
                          <label class="itemName">讨论课说明：</label>
						  <label class="itemName" id="description"></label><br/>
						  <label class="itemName">分组方式：</label>
						  <label class="itemName" id="groupingMethod"></label><br/>
						  <label class="itemName">开始时间：</label>
						  <label class="itemName" id="startTime"></label><br/>
						  <label class="itemName">结束时间：</label>
						  <label class="itemName" id="endTime"></label><br/>
                       <button class="leftButton" id="score" onclick="return score();">评分</button>
                       <button class="leftButton" id="viewtopic" onclick="return viewtopic();">选题情况</button>
                       <button class="middleButton" onclick="return updateseminar();">修改</button>
               <button class="rightButton" onclick="return deleteseminar();">删除讨论课</button>
					</div>
                </div>
                </div>
				 <div class="block">
			         <div class="seminarInfo">
                    <div class="title">话题</div>
                    <div class="line"></div>
                   <div class="topicBlockBody"  id="topiccontent">
                   <!--   <div class="topicBlock"><div class="topicBlockFont">话题A</div></div>
                      <div class="topicBlock"><div class="topicBlockFont">话题B</div></div>
                       <div class="topicBlock"><div class="topicBlockFont">话题C</div></div> -->
                   <!--    <div class="topicBlock">
                         <img class="addImg" src="/img/smalladd.png" alt="添加">
                      </div> -->
                   </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <script src ="/js/teacher_page.js"></script>
     <script src ="/js/jwt.js"></script>
</body>
</html>