<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>创建讨论课</title>
    <!-- <link rel="stylesheet" href="./bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/teacher/content.css">
</head>
<body onload="courseintroduce();">
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <img src="/img/home.png"><a href="/teacher/home">首页</a>
            <img src="/img/help.png"><a>帮助</a>
             <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="courseName"></div>
                <div class="line"></div>
                <div class="courseIntroduction" id="courseIntroduction"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title">创建讨论课</div>
                    <div class="returnButton" onclick="return backtocourse();">返回上一页</div>
                    <div class="line"></div>

                    <div class="itemBody">
                        <div class="item">
                          <label class="itemName">讨论课名称:</label>
                          <input type="text" name="seminarName" class="bigInput" id="seminarname">
                        </div>
                        <!-- <div class="item" style="height:40%;"> -->
                          <div class="item" style="height:15%;">
                          <label class="itemName">讨论课说明:</label>
                          <textarea class="textStyle" id="description"></textarea>
                        </div>
                        <div class="item">
                          <label class="itemName">分组方式: </label>
                          <select class="bigSelect" id="groupingMethod">
                            <option value ="1">fixed</option>
                            <option value ="0">random</option>
                          </select>
                        </div>
                        <div class="item">
                          <label class="itemName">开始时间: </label>
                          <input type="date" name="startTime" class="timeStyle" id=startTime>
                          <label class="itemName" style="margin-left: 15%">结束时间: </label>
                          <input type="date" name="startTime" class="timeStyle" id="endTime">
                        </div>
                     <!--    <div class="item">
                          <label class="itemName">评分规则:</label>
                          <label class="itemName">讨论课分数占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="presentation">
                          <label class="itemName">报告分数占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="report">
                        </div>
                        <div class="item" style="margin-left: 18%">
                          <label class="itemName">5分占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="five">
                          <label class="itemName">4分占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="four">
                          <label class="itemName">3分占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="three">
                        </div> -->
                      <!-- </form> -->
                        <div class="item">
                          <button class="submit"  name="submit" onclick="createseminar();">提 交</button>
                          <button class="reset" onclick="window.location.reload();">重 置</button>
                          <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    <script src ="/js/jquery-1.10.2.js"></script>
    <script src ="/js/teacher_page.js"></script>
     <script src ="/js/jwt.js"></script>
</body>
</html>