<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
<link href="../../css/teacher/TeacherCreateSchool.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="titleBackground"></div>
<div class="title">课程管理系统</div>
<div class="icon">
<img src="../../Img/home.png">首页
				<img src="../../Img/help.png">帮助
				<img src="../../Img/exit.png">退出
</div>
<div class="province">所在省份:<select class="provinceSelect"></select></div>
<div class="city">所在城市:<select class="citySelect"></select></div>
<div class="school">学校名称:<input type="text" name="school"/></div>
<div class="submit">提交</div>
</body>

</html>