<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>创建话题</title>
    <!-- <link rel="stylesheet" href="/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/teacher/content.css">
    <!-- <link rel="stylesheet" href="/css/teacher/frame.css"> -->
</head>
<body onload="return courseintroduce();">
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <img src="/img/home.png"><a href="/teacher/home">首页</a>
             <img src="/img/help.png"><a>帮助</a>
              <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="courseName"></div>
                <div class="line"></div>
                <div class="courseIntroduction" id="courseIntroduction"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title">创建话题</div><br/>
                    <div class="returnButton" onclick="return backtoseminar();">返回上一页</div>
                    <div class="line"></div>
                    <!-- <form action="" method="POST" onsubmit="return "> -->
                    <div class="itemBody">
                       <div class="item">
                          <label class="itemName">编   号*:</label>
                          <input type="text"  class="bigInput" id="topicserial">
                        </div>
                        <div class="item">
                          <label class="itemName">题   目*:</label>
                          <input type="text"  class="bigInput" id="topicname">
                        </div>
                        <div class="item" style="height:40%;">
                          <label class="itemName">说   明*:</label>
                          <textarea class="textStyle" id="description"></textarea>
                        </div>
                        <div class="item">
                          <label class="itemName">组数限制*: </label>
                          <input type="text" id="groupLimit" class="middleInput">
                        </div>
                        <div class="item">
                          <label class="itemName">组内人数上限*: </label>
                          <input type="text" id="groupMemberLimit" class="middleInput">
                        </div>
                        <div class="item">
                          <button class="submit" onclick="return createtopic();">提 交</button>
                          <button class="reset" onclick="window.location.reload()">重 置</button>
                          <div class="clear"></div>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
            <div class="clear"></div>
        </div>
    <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <script src ="/js/teacher_page.js"></script>
     <script src ="/js/jwt.js"></script>
</body>
</html>