<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改话题</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="../../css/teacher/content.css">
  
</head>
<body>
    
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
            <img src="../../Img/home.png">首页
            <img src="../../Img/help.png">帮助
            <img src="../../Img/exit.png">退出
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName">OOAD</div>
                <div class="line"></div>
                <div class="courseIntroduction">OOAD（Object Oriented Analysis Design，面向对象的分析和设计，面向对象分析与设计）是现代软件企业广为采用的一项有效技术。OOAD方法要求在设计中要映射现实世界中指定问题域中的对象和实体，例如：顾客、汽车和销售人员等。这就需要设计要尽可能地接近现实世界，即以最自然的方式表述实体。所以面向对象技术的优点即为能够构建与现实世界相对应的问题模型，并保持他们的结构、关系和行为为模式。</div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title">修改话题</div>
                    <div class="returnButton">返回上一页</div>
                    <div class="line"></div>
                    <div class="itemBody">
                         <div class="item">
                          <label class="itemName">题   目*:</label>
                          <input type="text" name="seminarName" class="bigInput">
                        </div>
                        <div class="item" style="height:40%;">
                          <label class="itemName">说   明*:</label>
                          <textarea class="textStyle"></textarea>
                        </div>
                        <div class="item">
                          <label class="itemName">组数限制*: </label>
                          <input type="text" name="groupLimit" class="middleInput">
                        </div>
                        <div class="item">
                          <label class="itemName">组内人数上限*: </label>
                          <input type="text" name="groupLimit" class="middleInput">
                        </div>
                        <div class="item">
                          <button class="submit">修 改</button>
                          <button class="reset">重 置</button>
                          <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
     <!-- jquery.js-->
    <script src ="../../js/jquery-1.10.2.js"></script>
    <!-- student.js -->
    <script src ="../../js/TeacherCourse.js""></script>
</body>
</html>