<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改话题</title>
    <!-- <link rel="stylesheet" href="/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/teacher/content.css">
</head>
<body onload="gettopicdetail();return courseintroduce();">
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <img src="/img/home.png"><a href="/teacher/home">首页</a>
             <img src="/img/help.png"><a>帮助</a>
              <img src="/img/exit.png"><a href="#" onclick="logout();">退出</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="courseName"></div>
                <div class="line"></div>
                <div class="courseIntroduction"  id="courseIntroduction"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title">修改话题</div>
                    <div class="returnButton" onclick="return backtotopic();">返回上一页</div>
                    <div class="line"></div>
                    <div class="itemBody">
                         <div class="item">
                          <label class="itemName">题   目*:</label>
                          <input type="text" name="seminarName" class="bigInput" id="topicname">
                        </div>
                        <div class="item" style="height:40%;">
                          <label class="itemName">说   明*:</label>
                          <textarea class="textStyle" id="description"></textarea>
                        </div>
                        <div class="item">
                          <label class="itemName">组数限制*: </label>
                          <input type="text" name="groupLimit" class="middleInput" id="groupLimit">
                        </div>
                        <div class="item">
                          <label class="itemName">组内人数上限*: </label>
                          <input type="text" name="groupLimit" class="middleInput" id="groupMemberLimit">
                        </div>
                        <div class="item">
                          <button class="submit" onclick="return updatetopic();">修 改</button>
                          <button class="reset" onclick="window.location.reload()">重 置</button>
                          <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
     <!-- jquery.js-->
    <script src ="/js/jquery-1.10.2.js"></script>
    <script src ="/js/teacher_page.js"></script>
     <script src ="/js/jwt.js"></script>
</body>
</html>