<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xmu.crms.mapper.CourseMapper">
	<!--根据老师的用户名查找Course<List>-->
	<resultMap type="Course" id="CourseResult">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="decription" property="decription"/>
		<result column="report_percentage" property="reportPercentage"/>
		<result column="presentation_percentage" property="presentationPercentage"/>
		<result column="five_point_percentage" property="fivePointPercentage"/>
		<result column="four_point_percentage" property="fourPointPercentage"/>
		<result column="three_point_percentage" property="threePointPercentage"/>
		<association column="teacher_id" property="teacher" javaType="User" select="getUserByUserId">
		</association>
	</resultMap>
	<resultMap id="UserResult" type="User">
		<id column="id" property="id"/>
		<result column="phone" property="phone"/>
		<result column="wechat_id" property="wechatId"/>
		<result column="openid" property="openid"/>
		<result column="avatar" property="avatar"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="gender" property="gender"/>
		<result column="type" property="type"/>
		<result column="number" property="number"/>
		<result column="education" property="education"/>
		<result column="title" property="title"/>
		<result column="email" property="email"/>
		<association column="school_id" property="school" javaType="xmu.crms.entity.School" select="getSchoolById"/>
	</resultMap>

	<resultMap id="SchoolResult" type="School">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="province" property="province"/>
		<result column="city" property="city"/>
	</resultMap>

	<select id="listCourseByUserId" resultMap="CourseResult">
		select id,name,start_date,end_date,teacher_id,description,report_percentage,presentation_percentage,five_point_percentage,four_point_percentage,three_point_percentage
		from course
		where teacher_id = #{id}
	</select>

	<select id="getUserByUserId" resultMap="UserResult">
		select id,phone,wechat_id,openid,avatar,password,name,school_id,gender,type,number,education,title,email
		from user_info
		where id = #{teacher_id}
	</select>
	<select id="getSchoolById" resultMap="SchoolResult">
		select id,name,province,city
		from school
		where id = #{school_id}
	</select>

	<insert id="insertCourseByUserId" parameterType="xmu.crms.entity.Course" useGeneratedKeys="true" keyProperty="id">
		insert into
		course(
		`name`,
		start_date,
		end_date,
		teacher_id,
		description,
		report_percentage,
		presentation_percentage,
		five_point_percentage,
		four_point_percentage,
		three_point_percentage)
		values(
		#{name},
		#{startDate},
		#{endDate},
		#{teacher.id},
		#{description},
		#{reportPercentage},
		#{presentationPercentage},
		#{fivePointPercentage},
		#{fourPointPercentage},
		#{threePointPercentage}
		)
	</insert>

	<select id="getCourseByCourseId" parameterType="java.math.BigInteger" resultMap="CourseResult">
		select id,name,start_date,end_date,teacher_id,description,report_percentage,presentation_percentage,five_point_percentage,four_point_percentage,three_point_percentage
		from course
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<update id="updateCourseByCourseId">
		update course
		set 
		<if test="name!=null">`name` = #{name,jdbcType=VARCHAR},</if>
		<if test="startDate!=null"> start_date = #{startDate,jdbcType=DATE},</if>
		<if test="endDate!=null"> end_date = #{endDate,jdbcType=DATE},</if>
		<if test="teacher!=null"> teacher_id = #{teacher.id,jdbcType=BIGINT},</if>
		<if test="description!=null"> description = #{description,jdbcType=VARCHAR},</if>
		<if test="reportPercentage!=null"> report_percentage = #{reportPercentage,jdbcType=INTEGER},</if>
		<if test="presentationPercentage!=null"> presentation_percentage = #{presentationPercentage,jdbcType=INTEGER},</if>
		<if test="fivePointPercentage"> five_point_percentage = #{fivePointPercentage,jdbcType=INTEGER},</if>
		<if test="fourPointPercentage"> four_point_percentage = #{fourPointPercentage,jdbcType=INTEGER},</if>
		<if test="threePointPercentage"> three_point_percentage = #{threePointPercentage,jdbcType=INTEGER}</if>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<delete id="deleteCourseByCourseId" parameterType="java.math.BigInteger"> 
		delete from course
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<select id="listCourseByCourseName" parameterType="java.lang.String" resultMap="CourseResult">
		select id,name,start_date,end_date,teacher_id,description,report_percentage,presentation_percentage,five_point_percentage,four_point_percentage,three_point_percentage
		from course
		where name = #{name,jdbcType=VARCHAR}
	</select>

</mapper>